body {
  background-color: #eed;
  color: #333;
  font-family: 'baskerville';
  font-size: 25px;
  line-height: 18px;
}

ul {
  list-style-type: none;
  margin: 30px 0 15px 0;
  padding: 0;
  li {
    padding: 25px 0 25px 0;
    border-top: 1px solid #ddd;
  }
}

form.formtastic {
  margin-top: 30px;
}

.up, .down {
  display: inline-block;
  width: 60px;
  float: right;
  img { margin-right: 10px; vertical-align: text-bottom;}
  .count {display: inline;}
}